.table {
  thead {
    background-color: $blue-color;
    th {
      color: #fff;
    }
  }
  tbody {
    td {
      svg {
        width: 27px;
        height: 27px;
        cursor: pointer;
        &:hover {
          fill: $error-color;
        }
      }
    }
  }
  &__image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: $shadow-1;
  }
  .verified {
    width: 30px;
  }
}
