$blue-color: #2f82ff;
$dark-blue-color: #1a28f1dc;
$grey-color: #f8f8f8;
$light-error-color: #fd010169;
$error-color: #ed4337;
$error-secondary-color: #f02f2fd8;
$success-color: #6cc070;
$green-color: #15971b;
$yellow-color: #fac80f;
$violet-color: #5a31f4;
$redish-color: #f15f6f;

$shadow-1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0;
$shadow-2: rgba(99, 99, 99, 0.1) 0px 0px 4px 0;
$cubic-bezier: cubic-bezier(0.175, 0.885, 0.32, 1.275);

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 1rem;
}

.btn_primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: $blue-color;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  border-radius: 2px;
}

.btn_outlined {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: $grey-color;
  color: $blue-color;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  border-radius: 2px;
}
.flex {
  display: flex;
  align-items: center;
  gap: 5px;
}
.wrap {
  flex-wrap: wrap;
}

.error {
  color: $error-color;
}
.success {
  color: $success-color;
}

// Swiper ................

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      display: grid;
    }
  }
}

.mainSwiper,
.userMenu__swiper,
.flashDeals__swiper,
.offerSwiper {
  .swiper-pagination-bullet {
    width: 8px !important;
    border-radius: 5px !important;
  }
  .swiper-pagination-bullet-active {
    background: #fff !important;
    width: 13px !important;
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: #fff !important;
    transform: scale(0.5) !important;
    width: 50px !important;
    height: 80px !important;
    transition: 0.2s;
    background: rgba(102, 102, 102, 0.366) !important;
    display: none;
    place-items: center;
  }
  .swiper-button-prev {
    left: -13px;
  }
  .swiper-button-next {
    right: -13px;
  }
}
.offerSwiper {
  max-width: 550px;
  transform: translateX(39%);

  @media (max-width: 980px) {
    transform: translate(1%);
    max-width: 750px;
  }

  .swiper-slide {
    height: 90% !important;
    width: 150px !important;
    border-radius: 10px !important;
    margin-top: 0.6rem !important;
    &:hover {
      transform: scale(1.03);
      transition: 0.2s;
    }
    span {
      position: absolute;
      color: #fff;
      &:first-of-type {
        bottom: 10px;
        width: 90px;
        height: 25px;
        border-radius: 50px;
        font-size: 16px;
        font-weight: 600;
        background: $yellow-color;
        right: 50%;
        transform: translate(50%, 0);
      }
      &:last-of-type {
        font-style: italic;
        top: -5px;
        right: -5px;
        background: $redish-color;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        font-size: 16px;
        font-weight: 600;
        box-shadow: $shadow-1;
      }
    }
  }
  .swiper-slide img {
    border-radius: 10px;
  }
  .swiper-pagination {
    display: none;
  }
}

.userMenu__swiper {
  .swiper {
    width: 240px;
    height: 320px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;

    img {
      height: 240px !important;
    }
  }
}

.flashDeals__swiper {
  .swiper-slide {
    img {
      border-radius: 0 !important;
      height: 320px !important;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 35%;
  }
  @media (max-width: 450px) {
    .swiper-button-next,
    .swiper-button-prev {
      display: grid !important;
    }
  }
  .swiper-slide {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}

.products__swiper {
  .swiper-button-next,
  .swiper-button-prev {
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: #666;
    box-shadow: $shadow-1;
    &::after {
      transform: scale(0.5);
    }
  }
}

.infos_swiper {
  max-width: 550px;
  margin-left: 0 !important;
  .swiper-pagination {
    display: none !important;
  }
  img {
    width: 100px;
    height: 160px;
    object-fit: cover;
    cursor: pointer;
    @media (min-width: 461px) {
      width: 150px;
      height: 200px;
    }
  }
}
.scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px !important;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px !important;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}
